body {
  background: #292a3a;
}

.container {
  width: 300px;
  margin: 70px auto 0;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: white;
}